.nectargpt--popup {
  .nectargpt--chatgpt {
    border: none;
  }

  .nectargpt--container #gpt-answer.markdown-body.gpt-markdown .nectargpt--chatgpt--header {
    margin-top: 0 !important;
  }
}

.nectargpt--popup--card {
  // margin-top: 10px;

  .content {
    padding: 0 !important;
  }
}
